<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 使用Spring来创建对象，在Spring这些都叫Bean -->

    <!-- bean = Object  -->

    <!-- Hello hello = new Hello(); -->

    <!-- id = 变量名 -->
    <!-- class = new 的变量 -->
    <!-- name 相当于别名 -->
    <!-- 建议使用name name可以取多个别名 -->
    <!-- 也可以使用alias来配置别名 -->

    <!-- property 相当于给对象属性设置值 -->
    <!-- 这个过程体现了控制反转IoC -->
    <!-- 容器指beans -->
    <!-- 所谓的IoC，就是由Spring来创建 管理 装配 -->
    <bean id="UserServiceImpl" class="com.iris.service.UserServiceImpl" name="nowDaoImpl">
        <!-- ref: 引用Spring容器中创建好的对象 -->
        <!-- value: 具体的值，基本数据类型 -->
        <property name="userDao" ref="mysqlImpl"/>
    </bean>
    <bean id="mysqlImpl" class="com.iris.dao.UserDaoMysqlImpl"/>
    <bean id="SqlServerImpl" class="com.iris.dao.UserDaoSqlServerImpl"/>
    <bean id="OracleImpl" class="com.iris.dao.UserDaoOracleImpl"/>

    <!-- <alias name="nowDaoImpl" alias="service" /> -->

</beans>